
<h1><% @athlete.full_name %></h1>
<div>
Sport: <% @athlete.sport %>
<div>
Date Of Birth: <% @athlete.date_of_birth %>
<div>
Nationality: <% @athlete.nationality %>
<div>
Location: <% @athlete.location %>
<div>
Association: <% @athlete.assocaition %>
<div>
Team: <% @athlete.team %>
<div>
Gender: <% @athlete.gender %>
<div>
About: <% @athlete.about %>
<div>
Interests: <% @athlete.interests %>
<div>
Charities: <% @athlete.charities %>
<div>
Handles: <% @athlete.social_media_handles %>
<div>
Pets: <% @athlete.pets %>
<div>
Alcohol: <% @athlete.drinks_alcohol %>
<div>
Married: <% @athlete.married %>

form

